body {
    margin: 0;
}

header {
    padding: 1em 0;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
}

h5 {
    font-size: 0.83em;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

textarea {
    resize: none;
    display: block;
}

.card {
    margin: 1em;
}

.block {
    padding: 0.5em 0;
}

.block:nth-of-type(2), .block:nth-of-type(3) {
    border-top: 1px solid black;
}

.thumbnail {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 3px solid transparent;
    border-radius: 4px;
}

.q-a-pair {
    margin: 1em 0;
}

.question {
    font-weight: bold;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-around;
    margin: auto;
}

#q-a, #form {
    width: 50%;
    margin: auto;
}

@media (max-width: 480px) {
    #q-a, #form {
        width: 90%;
    }
}

@media (max-width: 768px) {
    #gallery {
        width: 90%;
    }

    #q-a, #form {
        width: 75%;
    }
}

@media (max-width: 1024px) {
}