body {
    margin: 0;
}

header {
    padding: 1em 0;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
}

h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
    font-size: .9em;
}

li {
    list-style: none;
}

.thumbnail {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 3px solid transparent;
    margin: 20px;
    border-radius: 4px;
}

.q-a-pair {
    text-align: left;
    margin: .5em auto;
}

.question {
    font-weight: bold;
    line-height: 2em;;
}

.answer {
    padding-left: 2em;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-around;
    margin: 2em auto;
}

#q-a {
    width: 75%;
    margin: auto;
}

#about {
    margin: 3.5em auto;
}

#brag-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.05em;
}

#brag {
    padding: 0 0 1.5em 0;
}