body {
    margin: 0;
}

header {
    padding: 1em 0;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
}

h5 {
    font-size: 0.83em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.card {
    margin: 1em;
}

.thumbnail {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 3px solid transparent;
    border-radius: 4px;
}

.q-a-pair {
    margin: 1em 0;
}

.question {
    font-weight: bold;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-around;
    margin: auto;
}

#q-a {
    width: 75%;
    margin: auto;
}

#about {
    padding: 0 1em;
    margin: 3.5em auto;
}

#brag-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
}

#bottom-block {
    border-top: 1px solid black;
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
    #gallery {
        width: 90%;
    }

    #q-a {
        width: 90%;
    }
}

@media (max-width: 1024px) {
}