:root {
    --serif: 'Roboto Slab', serif; 
    --sans-serif: ;
    --nasa-red: #ed1c24;
}

body {
    font-family: var(--serif);
}

a {
    color: black;
}

#title {
    color: var(--nasa-red);
    font-family: var(--sans-serif);
}

#subtitle {
    font-weight: 400;
}