:root {
    --monospace: 'Roboto Mono', monospace;; 
    --sans-serif: 'Source Sans Pro', sans-serif;
    --display: 'Monoton', cursive;
    --nasa-red: #ed1c24;
}

body {
    font-family: var(--sans-serif);
}

h5, #about {
    font-family: var(--monospace)
}

a {
    color: black;
}

#title {
    color: var(--nasa-red);
    font-family: var(--display);
}

#subtitle {
    font-weight: 400;
}